:root {
  /* * @link https://utopia.fyi/type/calculator?c=320,21,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --step--2: clamp(0.91rem, 0.89rem + 0.09vw, 0.96rem);
  --step--1: clamp(1.09rem, 1.06rem + 0.19vw, 1.2rem);
  --step-0: clamp(1.31rem, 1.24rem + 0.34vw, 1.5rem);
  --step-1: clamp(1.58rem, 1.47rem + 0.55vw, 1.88rem);
  --step-2: clamp(1.89rem, 1.73rem + 0.83vw, 2.34rem);
  --step-3: clamp(2.27rem, 2.03rem + 1.2vw, 2.93rem);
  --step-4: clamp(2.72rem, 2.38rem + 1.71vw, 3.66rem);
  --step-5: clamp(3.27rem, 2.79rem + 2.39vw, 4.58rem);
  --first-color: #545454;
  --second-color: #e64b37;
  --second-color-alpha: #e64b3770;
  --white-color: #fff;
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.75);
  --light-color: #e0e0e0;
  --font-sans: sans-serif;
  --font-weight-400: 400;
  --font-weight-700: 700;
  --font-weight-900: 900;
  --container-lg: 1200px;
  --container-md: 992px;
  --container-sm: 500px;
}

/* Reset */
html {
  box-sizing: border-box;
  /*   overflow-x: hidden; */
  font-family: var(--font-sans);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

h1 {
  /*     margin: 0; */
  font-size: var(--step-2);
}

a {
  transition: all 0.3s ease-in-out;
  font-size: var(--step--2);
}

p {
  font-size: var(--step-0);
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
}

/* Utilities */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.none {
  display: none;
}

.section {
  padding: 2rem 1rem;
}

.container-lg {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-lg);
}

.container-md {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-md);
}

.container-sm {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-sm);
}

/* 
  ? 320px / 16px = 20em - xs
  ? 480px / 16px = 30em - sm
  ? 600px / 16px = 37.5em sm
  ? 768px / 16px = 48em - md
  ? 992px / 16px = 62em - lg
  ? 1024px / 16px = 64em - lg
  ? 1200px / 16px = 75em - xl
*/

/* Site Styles */
.shipping {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--second-color);
  color: var(--white-color);
}

.logo img {
  width: 100%;
  max-width: 400px;
  height: auto;
  cursor: pointer;
}

.search {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.input-search {
  position: relative;
  width: 100%;
  padding: var(--step--2);
  border: thin solid var(--black-color);
  border-radius: 2rem;
}

.search > div {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  height: auto;
  background-color: #e64b37;
  padding: 0.5rem;
  border-radius: 1rem;
  fill: var(--white-color);
  cursor: pointer;
}

.search div svg {
  width: 1.2rem;
  height: 1.2rem;
}

.icons {
  padding: 1rem 0;
  cursor: pointer;
}

.icons > img {
  width: var(--step-3);
  height: auto;
}

nav {
  position: fixed;
  z-index: 997;
  top: 0;
  width: 50vw;
  height: 100vh;
  background-color: var(--black-alpha-color);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translate(-100%, 0%);
}

nav.is-active {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.hamburger-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.hamburger {
  background-color: var(--second-color) !important;
}

/* .hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
} */

nav ul {
  list-style: none;
}

nav li {
  height: 8vh;
  line-height: 5rem;
  transition: background-color 0.3s ease-in-out;
}

nav li a {
  display: block;
  text-decoration: none;
  color: var(--white-color);
  padding-left: 1rem;
}

nav li:hover {
  background-color: var(--second-color-alpha);
  cursor: pointer;
}

nav > ul {
  padding-left: 0;
}

nav li ul {
  position: absolute;
  left: 50vw;
  top: 10vw;
  opacity: 0;
  width: 100%;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

nav li:hover ul {
  opacity: 1;
  visibility: visible;
  padding-left: 0;
  background-color: #545454;
}

nav li:hover ul a {
  display: block;
  color: var(--light-color);
}

/* Slider */
.slick-prev,
.slick-next {
  position: absolute;
  z-index: 998;
  top: 50%;
  width: var(--step-4);
  height: var(--step-4);
  border: none;
  border-radius: 50%;
  opacity: 0.5;
  font-size: var(--step-0);
  color: var(--white-color);
  background-color: var(--black-alpha-color);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.slick-prev::before {
  content: '◀';
}

.slick-next:after {
  content: '▶';
}

.slick-prev:hover,
.slick-next:hover {
  opacity: 0.8;
}

.slick-next {
  right: 0;
}

/* Categorys && brandings */

.grid-categorys > article {
  background-color: var(--black-color);
}

.grid-categorys > article img {
  transition: all 0.3s ease-in-out, background-color 0.3s ease;
}

.grid-categorys > article img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.categorys hr,
.brandings hr {
  width: 90%;
}

.categorys h1,
.brandings h2 {
  text-transform: uppercase;
}

.categorys h1::before {
  content: 'Categorias ';
  width: 100%;
  color: var(--second-color);
  font-weight: var(--font-weight-400);
}

.brandings h2::before {
  content: 'Nuestras ';
  width: 100%;
  color: var(--second-color);
  font-weight: var(--font-weight-400);
}

.categorys h1::after {
  content: 'Destacadas';
  width: 100%;
  color: var(--second-color);
  font-weight: var(--font-weight-900);
}

.brandings h2::after {
  content: 'Marcas';
  width: 100%;
  color: var(--second-color);
  font-weight: var(--font-weight-900);
}

.categorys p {
  line-height: 2rem;
  padding: 0 1rem;
  text-align: left;
}

.categorys span:first-of-type {
  display: block;
}

/* .our-brandings > article:hover {
  cursor: pointer;
} */
