header > section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-width: 200px;
}

.search {
  max-width: 300px;
}

.categorys div,
.brandings {
  display: flex;
<<<<<<< HEAD
=======
  flex-direction: wrap;
>>>>>>> dbf0002709f4c2e4b00ae2477c757e4f7ed9b682
  align-items: center;
  justify-content: center;
}

.categorys div hr,
.brandings hr {
  width: 22%;
}

.categorys div h1,
.brandings h2 {
  font-size: var(--step-0);
}

.categorys p {
  text-align: center;
}

.grid-categorys {
  display: grid;
  grid-template-columns: repeat(2, 47%);
  justify-content: space-between;
  align-items: center;
}
